APP_NAME=korp

DB_URL=jdbc:mysql://localhost:3306/nome_do_banco?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=suaSenha

JWT_SECRET=uma_chave_muito_longa_com_pelo_menos_32_bytes_ou_mais
JWT_EXPIRATION=864000000